.btnss{margin-left: 0%;width: 85%;}
.btnss1{margin-left: 3.9%;width: 85%;}
.btnss2{margin-left: 6.9%;width: 85%;}
.btnss3{margin-left: 0.9%;width: 85%;}
.prod{margin-left: 0%;}
.cardp{margin-left: 1%; display: inline-block;float: left; width: 40%;}